.language-select-container {
    display: flex;
    align-items: center; /* Align items vertically */
  }
  
  .language-select {
    background-color: rgb(51, 49, 49); /* Black background for the select */
    color: white; /* White text */
    border-radius: 20px; /* Rounded corners */
    border: 1px solid #2507a7; /* Border styling */
  }
  
  .checkmark-container {
    margin-left: 10px; /* Space between select and checkmark */
    font-size: 20px; /* Size for the checkmark */
    color: rgb(12, 12, 12); /* Color for the checkmark */
  }
  